.title{
  font-size: 64px;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 60px;
}

.person {
  display: flex;
  align-items: flex-start; 
  gap: 65px;
}

.person-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 24px;
  flex-shrink: 0; 
}

.person-space-between {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 20px;
  max-width: 600px; 
}

.person-name{
  font-size: 64px;
  font-weight: bolder;
}

.person-hability{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 30px;
}

.form{
  margin-top: 110px;
  margin-bottom: 110px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.form-title{
  font-size: 64px;
  font-weight: 500;
  max-width: 340px;
}

.forms{
  display: flex;
  flex-direction: column;
  min-width: 600px;
  gap: 40px;
}

.small-input{
  border: none;
  border-radius: 10px;
  height: 80px;
  padding-left: 45px;
}

.big-input{
  border: none;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 100px;
  padding-left: 45px;
}

